<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- required to read the <dataCacheClient> element -->
    <section name="dataCacheClient"
         type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,
            Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         allowLocation="true"
         allowDefinition="Everywhere"/>
  </configSections>

  <dataCacheClient>
    <!-- (optional) specify local cache  (sync="TimeoutBased" or   NotificationBased ) -->
    <!--<localCache
       isEnabled="true"
       sync="NotificationBased"
       objectCount="3"
       ttlValue="10" />-->

    <!--(optional) specify cache notifications poll interval  -->
      <clientNotification pollInterval="1" />

    <hosts>
      <host
         name="localhost"
         cachePort="22233"/>
      <!--<host
         name="CacheServer2"
         cachePort="22233"/>-->
    </hosts>
    
  </dataCacheClient>
</configuration>